<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happydiary.dao.BoardDao">
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <select id="select" parameterType="Integer" resultType="BoardDto">
        SELECT * FROM board
        WHERE bno = #{bno}
    </select>

    <select id="selectAll" parameterType="PageRequestDto" resultType="BoardDto">
        SELECT * FROM board
        WHERE del_status = 'N'
        ORDER BY bno DESC
        LIMIT #{skip}, #{size}
    </select>

    <select id="countSelectedRow" parameterType="Map" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE del_status = 'N' AND 1 = 1
            <if test='option != null and option == "title"'>
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test='option != null and option == "writer"'>
                AND writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test='option != null and option == "title_or_writer"'>
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR writer LIKE CONCAT('%', #{keyword}, '%'))
            </if>
    </select>

    <select id="selectByTitleOrWriter" parameterType="Map" resultType="BoardDto">
        SELECT * FROM board
        WHERE del_status = 'N' AND 1 = 1
        <if test='option != null and option == "title"'>
            AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test='option != null and option == "writer"'>
            AND writer LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test='option != null and option == "title_or_writer"'>
            AND (title LIKE CONCAT('%', #{keyword}, '%') OR writer LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY bno DESC
        LIMIT #{skip}, #{size}
    </select>

    <select id="countSelectedRowByVisibleScope" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE del_status = 'N' AND 1 = 1
        <if test= 'visibility == "public"'>
            AND is_public = 'Y'
        </if>
        <if test= 'visibility == "private"'>
            AND (is_public = 'N' AND writer = #{id})
        </if>
    </select>

    <select id="selectByVisibleScope" parameterType="Map" resultType="BoardDto">
        SELECT * FROM board
        WHERE del_status = 'N' AND 1 = 1
            <if test= 'visibility == "public"'>
                AND is_public = 'Y'
            </if>
            <if test= 'visibility == "private"'>
                AND (is_public = 'N' AND writer = #{id})
            </if>
        ORDER BY bno DESC
        LIMIT #{skip}, #{size}
    </select>

    <select id="countSelectedRowByTarget" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE praise_target LIKE CONCAT('%', #{praise_target}, '%') AND del_status = 'N'
    </select>

    <select id="selectByTarget" parameterType="Map" resultType="BoardDto">
        SELECT * FROM board
        WHERE praise_target LIKE CONCAT('%', #{praise_target}, '%') AND del_status = 'N'
        ORDER BY bno DESC
        LIMIT #{skip}, #{size}
    </select>

    <insert id="insert" parameterType="BoardDto">
        INSERT INTO board (title, content, img_path, writer, praise_target, is_public, del_status, is_notice, reg_id, reg_date)
        VALUES (#{title}, #{content}, #{img_path}, #{writer}, #{praise_target}, #{is_public}, 'N', #{is_notice}, #{writer}, NOW())
    </insert>

    <update id="update" parameterType="BoardDto">
        UPDATE board
        SET title = #{title}, content = #{content}, img_path = #{img_path}, praise_target = #{praise_target}, is_public = #{is_public}, up_id = #{writer}, up_date = NOW()
        WHERE bno = #{bno}
    </update>

    <update id="updateViewCnt" parameterType="Map">
        UPDATE board
        SET view_cnt = #{view_cnt}
        WHERE bno = #{bno}
    </update>

    <update id="delete" parameterType="Integer">
        UPDATE board
        SET del_status = 'Y', del_date = NOW()
        WHERE bno = #{bno}
    </update>

    <delete id="deleteAll">
        DELETE FROM board
    </delete>
</mapper>