/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.additional-options {
    display: flex;
    margin: 10px 0 30px;
    font-size: 15px;
    color: gray;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* 탭 스타일 */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.tab-button.active {
    background-color: #f44336;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}

.tab-content.active {
    display: block;
}

/* 폼 스타일 */
input[type="text"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #d32f2f;
}

/* 테이블 스타일 */
table {
    width: 100%;
    margin-left: 40px;
}

table td {
    padding: 10px 0 0 10px;
}

#sendEmailBtn-id {
    margin-top: 16px;
}

p {
    color: #1458be;
    margin-left: 52px;
    margin-top: 10px;
}

#found-id {
    display: none;
    margin-left: 52px;
    margin-top: 30px;
    padding-left: 10px;
    background-color: #1458be;
    width: 80%;
    height: 10%;
    align-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #1458be;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}
