@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style: none;
}
.back-item {
    color: gray;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: "Noto Sans KR", sans-serif;
}

.wrapper {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid gray;
    padding: 20px;
    box-sizing: border-box;
}
.title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 30px 0;
}
.content {
    width: 100%;
    height: fit-content;
}
.title img {
    width: 130px;
    height: 40px;
}
.content p:first-of-type {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
table {
    background-color: white;
    border: 1px solid gray;
    margin: 10px auto 30px;
    font-size: 20px;
    width: 80%;
}
td {
    padding: 5px 0;
}
input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    text-indent: 10px;
    outline-color: white;
    margin-left: 10px;
}
td:first-of-type {
    width: 180px;
}
td:nth-of-type(2) {
    width: 60px;
    text-align: right;
}
#email-format-error-msg {
    color: red;
    height: 20px;
}

/* 버튼의 활성화, 비활성화 상태에 따른 스타일 */
#sendEmailBtn:disabled, #verifyCodeBtn:disabled {
    background-color: #e0e0e0; /* 비활성화 상태 색상 */
    cursor: default;       /* 비활성화 상태 커서 */
    color: #9e9e9e;            /* 비활성화 상태 텍스트 색상 */
}

#sendEmailBtn:disabled:hover, #verifyCodeBtn:disabled:hover {
    background-color: #e0e0e0; /* 비활성화 상태 색상 */
}

#sendEmailBtn, #verifyCodeBtn {
    width: 50px;
    height: 30px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid gray;
    color: white;
    background-color: #d32f2f;  /* 기본 활성화 상태 배경색 */
    cursor: pointer;            /* 기본 활성화 상태의 커서 */
}

#sendEmailBtn:hover, #verifyCodeBtn:hover {
    background-color: #b71c1c;   /* 활성화 상태에서 마우스를 올렸을 때 배경색 */
}

#sendEmailBtn:active, #verifyCodeBtn:active {
    background-color: #f44336;   /* 활성화된 상태에서 클릭할 때 배경색 */
    border-color: #b71c1c;
    color: white;
}

button {
    margin: 0 10px;
}

/* 커서와 버튼의 색상 효과 */
#sendEmailBtn:active:hover, #verifyCodeBtn:active:hover {
    background-color: #d32f2f;
    cursor: pointer;
}

.content p:last-of-type {
    font-weight: normal;
    text-align: center;
}
.input-verification-code p:last-of-type {
    margin-top: 90px;
}