.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-side, .main-board, .right-side {
    width: 30%;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.main-board img {
    max-width: 100%;
    border-radius: 8px;
}
.question-sentence {
    font-size: 20px;
    font-weight: bold;
    font-family: fantasy, cursive, serif;
    margin-bottom: 15px;
    text-align: center;
}
.temporary-text {
    color: gray;
    text-align: center;
    margin-top: 45%;
    font-size: 16px;
}
.latest-posts {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.latest-posts td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
#board-title {
    color: black;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-side, .main-board, .right-side {
        width: 90%;
        margin-bottom: 20px;
    }

    .main-board {
        width: 100%;
    }
}
