* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}

section {
    width: 90%;
    height: fit-content;
    margin: 50px auto;
}
.sub-title {
    float: right;
}
.sub-tag {
    font-size: 15px;
    color: gray;
}
.head-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.table_title {font-size: 20px; font-weight: bold; margin-bottom:15px;}
.table_title>span { font-size: 16px; font-weight: normal;}
.content>table {width: 100%; height: 100px; border-top: 2px solid black; border-collapse: collapse;}

tr {
    border-bottom: 1px solid #bcbcbc;
    height: 53px;
}
tr td:first-of-type {
    font-weight: bold;
    width: 30%;
}
.sns-kakao td:nth-of-type(3), .sns-naver td:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 53px;
}
.sns-title {
    display: flex;
    align-items: center;
    width: 20%;
}
.kakao-connect, .naver-connect {
    display: flex;
    align-items: center;
    color: black;
}
.kakao-connect img, .naver-connect img {
    width: 30px;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 15px;
}
table button {
    width: 130px;
    padding: 10px 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;
    color: white;
    background-color: #007bff;
    font-size: 16px;
    float: right;
}
table button:hover {
    background-color: #0056b3;
}
.content > button {
    float: right;
    margin-top: 30px;
}
.hidden {
    display: none;
}
.no-bottom {
    border-bottom: 0;
}
.content tr:nth-of-type(5) {
    border-top: 1px solid #bcbcbc;
}
.content tr:nth-of-type(9) {
    border-top: 1px solid #bcbcbc;
}
.content tr:nth-of-type(12) {
    border-top: 1px solid #bcbcbc;
}

table {
    border-bottom: 1px solid #bcbcbc;
}

.content input {
    border: 1px solid #bcbcbc;
    width: 230px;
    height: 30px;
    text-indent: 5px;
    font-size: 16px;
}
#pwd-length-error-msg, #match-error-msg, #wrong-pwd-format-msg, #birth-error-msg, #phone-number-error-msg, #email-error-msg {
    font-size: 16px;
    color: red;
    margin-left: 5px;
}
#saveNewPwdBtn, #saveNewPhoneNumBtn {
    background-color: #007bff;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
}
#saveNewPwdBtn:hover, #saveNewPhoneNumBtn:hover {
    background-color: #0056b3;
}
#saveNewPwdBtn:disabled:hover, #saveNewPhoneNumBtn:disabled:hover {
    background-color: #0056b3;
    color: white;
    cursor: default;
}