body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.header {
    margin-top: 20px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.wrapper {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    margin: 20px auto;
    padding: 20px 20px 0 20px;
}
td {
    padding: 10px;
    vertical-align: top;
    font-family: Arial, Sans-serif, Serif;
    font-size: 16px;
}
td:first-of-type {
    width: 120px;
    font-weight: bold;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Arial, Sans-serif, Serif;
    font-size: 16px;
}
input[type="radio"] {
    margin-right: 10px;
}
label {
    margin-right: 60px;
}
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    height: 150px;
    font-family: Arial, Sans-serif, Serif;
    font-size: 16px;
}
.actions {
    text-align: right;
    margin-top: 40px;
}
.actions button {
    width: 75px;
    height: 35px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 14px;
    color: white;
    border: none;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
}
.actions button:hover {
    background-color: #0056b3;
}
#list-btn, #cancel-btn {
    background-color: #6c757d;
}
#list-btn:hover, #cancel-btn:hover {
    background-color: #5a6268;
}