* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 추가: padding, border를 box 크기에 포함시킴 */
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    background: black;
    color: white;
    line-height: 50px;
    padding: 20px 0;
    text-align: center;
}

#menu > ul > li {
    float: left;
    width: 140px;
    position: relative;
}

#menu > ul > li:nth-of-type(1) {
    width: 240px;
    margin-left: 30px;
}

#menu > ul > li > ul {
    width: 130px;
    display: none;
    position: absolute;
    font-size: 15px;
    padding-top: 20px;
    background-color: black;
}

#menu > ul > li:hover > ul {
    display: block;
}

#menu > ul > li > ul > li:hover {
    background: #d32f2f;
    transition: ease 1s;
}

.app-name {
    margin-right: 30px;
    font-size: 30px;
}

.user-info {
    margin-right: 30px;
}

#user-name {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

button {
    background-color: #d32f2f;
}